[submodule "shm-physics"]
	path = shm-physics
	url = https://github.com/devprofile98/shm-physics.git
[submodule "Engine/include/assimpp"]
	path = Engine/include/assimpp
	url = https://github.com/assimp/assimp.git
[submodule "shm-cli"]
	path = shm-cli
	url = git@github.com:devprofile98/shm-cli.git
